
mixin gradient-footer
    .footer
        .light-blue.gradient-block
        .medium-blue.gradient-block
        .dark-blue.gradient-block



block body
    body
        .outer-container
            .inner-container(style="background-color: #011734;")
                block content