
mixin gradient-footer
    .footer
        .light-blue.gradient-block
        .medium-blue.gradient-block
        .dark-blue.gradient-block



block body
    .outer-container
        .inner-container.blue.gradient
            block content