
extends ./body


mixin body(color)
    .inner-container(style="background-color: #{color};")
        .big.centered.vertical-center
            h1
                block


mixin numberbody(color)
    .inner-container(style="background-color: #{color};")
        .big.centered.vertical-center.number
            h1
                block
