
extends ../layouts/top-logos

block append content

    .screensaver-container
        .headline.win-tickets
            .top
                | Play for a Chance to Win 
            .bottom
                | a $20 Disney Gift Card
            
        .image.win-tickets



    +gradient-footer


