
extends ../layouts/top-logos

block append content

    .screensaver-container
        .headline.win-tickets
            .top
                | Register for a chance to receive
            .bottom
                | a $20 Disney Gift Card*
            
        .image.win-tickets

        .fineprint
            | *No purchase necessary. A purchase will not increase your chances of winning. Open to individualis 18 + and eligible to participate in, the steps to wellness challenge and/or run with team cigna©
            | at this event. Ends at approximately 4pm on 1/10/15, or while supplies last. Approximately 32 rewards available during the offer period. Reward: 1- $20 Disney gift card. Limit 1 reward per person during
            | offer period. Sponsor: Cigna, 900 Cottage Grove Road, Bloomfield, CT 06002. ©2015 Cigna. All rights reserved.



    +gradient-footer


