
mixin gradient-footer
    .footer
        .light-blue.gradient-block
        .medium-blue.gradient-block
        .dark-blue.gradient-block


doctype html
html
    block head
        head
            title= title
            link(rel='stylesheet', href='/stylesheets/style.css')

    block body
        body
            .outer-container
                .inner-container(style="background-color: #011734;")
                    block content