




.screensaver-container {

    // font-family: $sans-serif;
    // text-align: center;
    // @include vertical-align;
    width: 100%;
    height: 100%;

    .big-cigna {
        background-size: contain;
        width: 75%;
        height: 75%;
        background-repeat: no-repeat;
        position: absolute;
        top: 15%;
        left: 12.5%;
        right: 12.5%;
        background-image: url(/images/cigna-tag.png);
    }

    .headline {
        background-size: contain;
        width: 50%;
        height: 13%;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 55%;
        left: 25%;
        right: 25%;
        color: white;
        font-family: $sans-serif;
        &.step-up {
            background-image: url(/images/banners/step-up.png);
            bottom: 48%;
        }

        &.win-tickets {
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
            // background-image: url(/images/banners/win-tickets.png);
            bottom: 58%;
            width: 70%;
            font-size: 4.5em;
            text-align: center;
            left: 15%;
            text-transform: uppercase;

            .top {
                color: #efa808;
                font-size: 0.8em;
                width: 100%;
            }

        }
        &.leaderboard {
            background-image: url(/images/banners/leaderboard.png);
            bottom: 44%;
            width: 50%;
            height: 19%;
        }

    }

    .fineprint {
        position: absolute;
        width: 80%;
        bottom: 15%;
        left: 10%;
        color: white;
        font-family: $sans-serif;
        text-transform: uppercase;
        font-size: 1.3em;
        text-align: center;

    }

    .image {

        background-size: contain;
        width: 16%;
        height: 13%;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 17%;
        left: 42%;
        right: 42%;


        &.shoes {
            background-image: url(/images/shoes.png);
            height: 28%;
            width: 12%;
            left: 44%;
            right: 44%;
        }
        &.win-tickets {
            background-image: url(/images/tickets.png);
            height: 28%;
            bottom: 25%;
        }
        &.leaderboard {
            background-image: url(/images/leaderboard.png);
            width: 30%;
            height: 25%;
            bottom: 17%;
            left: 35%;
            right: 35%;
        }
    }


    

}