

.boost-button {
    background-size: contain;
    width: 16%;
    height: 75%;
    background-repeat: no-repeat;
    position: absolute;
    top: 14%;
    left: 42%;
    right: 42%;
    background-image: url(/images/buttons/boost.png);

    &.using {
        background-image: url(/images/buttons/boost-using.png);
    }    

    &.used {
        background-image: url(/images/buttons/boost-used.png);        
    }
}


.divider {
    background-size: contain;
    width: 3px;
    height: 75%;
    background-repeat: no-repeat;
    position: absolute;
    top: 14%;

    &.first {
        left: 33%;
    }
    &.second {
        left: 66%;
    }
    
    background-image: url(/images/divider.png);
}

.message-container {
    width: 90%;
    left: 5%;
    position: absolute;
    bottom: 5%;
    height: 10%;
    background-color: white;
    border-radius: 5px;

    // padding: 5px 10px;

    .message {
        color: #fa4e0a;
        font-size: 4em;
        text-align: center;
    } 
}

.timer-container {
    font-size: 7em;
    color: white;
    text-align: center;
}

.viz-holder {




    position: absolute;
    width: 33%;
    top: 20%;

    &.balloon {
        width: 24%;
        left: 5%;
        top: 30%;
    }

    &.stopwatch {
        width: 28%;
        left: 36%;
        top: 25%;
    }

    &.area {
        width: 28%;
        right: 5%;
        top: 30%;
    }

    .gameicon {
        background-size: contain;
        width: 20%;
        height: 75%;
        background-repeat: no-repeat;
        position: absolute;
        top: -27%;
        left: 42%;
        right: 42%;

        &.speed {
            width: 40%;
            height: 35%;
            left: 35%;
            right: 30%;
            background-image: url(/images/icons/gameplay-speed.png);
        }
        &.run {
            background-image: url(/images/icons/gameplay-run.png);
        }
    }
}

svg {
    .plot {
        fill: #ffffff;
    }
    .grid.y .tick {
        stroke: none;
        opacity: 0;

        &:nth-child(even) {
            rect {
                fill: #1b3f61;
            }
        }   

        &:nth-child(odd) {
            rect {
                fill: none;
            }
        }   
    }

    .grid.y path {
        stroke-width: 0;
    }
    
    // .axis path, .axis line {
    //     fill: none;
    //     stroke: none;
    //     shape-rendering: crispEdges;
    // }

    // .axis path {
    //     display: none;
    // }

    &.balloon {

        .axis {
            path.domain {
                fill: #ebeaea
            }

            .tick {

                text {
                    font-family: $sans-serif;
                    // font-weight: bold;
                    font-size: 1.2em;
                }

                &:nth-child(1) {
                    text {
                        fill: $green;
                    }
                }
                &:nth-child(2) {
                    text {
                        fill: $blue;
                    }
                }
                &:nth-child(3) {
                    text {
                        fill: $orange;
                    }
                }
            }
        }
    }

    .balloon-container {
        line {
            stroke: black;
            stroke-width: 5px;
        }

        text {
            font-size: 2em;
            fill: white;
            font-family: $sans-serif;
            // font-weight: bold;
        }

        circle {
            stroke: white;

            &.outer {
                stroke: none;
                opacity: 0.8;
            }
        }


        &:nth-child(1) {
            line {
                stroke: $green;
            }

            circle {
                fill: $green;
            }
        }
        &:nth-child(2) {
            line {
                stroke: $blue;
            }

            circle {
                fill: $blue;
            }
        }
        &:nth-child(3) {
            line {
                stroke: $orange;
            }

            circle {
                fill: $orange;
            }
        }
    }

    &.stopwatch-container {
        path {
            &.opponent {
                fill: $blue;
            }
            &.opponent-placeholder {
                fill: white;
            }

            &.me {
                fill: $orange;
            }
        }

        g.me {

            circle {
                // fill: white;
            }

            text {
                fill: $orange;
                // font-weight: bold;

                &.player-name {
                    font-size: 36px;
                }
                &.score {
                    font-size: 4.5em;   

                    &.solo {
                        font-size: 7em
                    }
                }
            }
        }

        g.competitor {
            circle {
                // fill: white;
            }

            text {
                fill: $blue;
                // font-weight: bold;

                &.player-name {
                    font-size: 18px;
                }
                &.score {
                    font-size: 48px;   
                }
            }
        }

        circle {
            &.background {
                fill: #b2bcc4;
            }
        }
    }

    &.area-container {

        .axis {
            path {
                display: none;
            }

            text {
                fill: white;
                font-family: $sans-serif;
                font-size: 18px;
            }
        }

        .grid .tick {
            stroke: #ddd;
            opacity: 0.6 !important;
        }

        .grid path {
            stroke-width: 1;
        }

        path {

            fill: url(#area-gradient);
            // stroke: $blue;
            // stroke-width: 2px;
        }
    }
}


.heatmap-container {
    path {
        fill: none;
        stroke: white;
        stroke-dasharray: 3, 3;
        stroke-width: 3;
    }

    .axis {
        path {
            stroke: none;
        }
    }

    text {
        fill: white;
    }
}