


.viz-holder {
    position: absolute;
    width: 33%;
    top: 20%;

    &.balloon {
        left: 0;
    }

    &.stopwatch {
        left: 33%;
    }

    &.area {
        right: 0;
    }
}

svg {
    .plot {
        fill: #ffffff;
    }
    .grid.y .tick {
        stroke: none;
        opacity: 0;

        &:nth-child(even) {
            rect {
                fill: #1b3f61;
            }
        }   

        &:nth-child(odd) {
            rect {
                fill: none;
            }
        }   
    }

    .grid.y path {
        stroke-width: 0;
    }
    
    // .axis path, .axis line {
    //     fill: none;
    //     stroke: none;
    //     shape-rendering: crispEdges;
    // }

    // .axis path {
    //     display: none;
    // }

    &.balloon {

        .axis {
            path.domain {
                fill: #ebeaea
            }

            .tick {

                text {
                    font-family: $sans-serif;
                    font-weight: bold;
                    font-size: 28px;
                }

                &:nth-child(1) {
                    text {
                        fill: $green;
                    }
                }
                &:nth-child(2) {
                    text {
                        fill: $blue;
                    }
                }
                &:nth-child(3) {
                    text {
                        fill: $orange;
                    }
                }
            }
        }
    }

    .balloon-container {
        line {
            stroke: black;
            stroke-width: 5px;
        }

        text {
            font-size: 36px;
            fill: white;
            font-family: $sans-serif;
            font-weight: bold;
        }

        circle {
            stroke: white;

            &.outer {
                stroke: none;
                opacity: 0.8;
            }
        }


        &:nth-child(1) {
            line {
                stroke: $green;
            }

            circle {
                fill: $green;
            }
        }
        &:nth-child(2) {
            line {
                stroke: $blue;
            }

            circle {
                fill: $blue;
            }
        }
        &:nth-child(3) {
            line {
                stroke: $orange;
            }

            circle {
                fill: $orange;
            }
        }
    }

    &.stopwatch-container {
        path {
            &.opponent {
                fill: $blue;
            }
            &.opponent-placeholder {
                fill: white;
            }

            &.me {
                fill: $orange;
            }
        }

        g.me {

            circle {
                fill: white;
            }

            text {
                fill: $orange;
                font-weight: bold;

                &.player-name {
                    font-size: 36px;
                }
                &.score {
                    font-size: 64px;   
                }
            }
        }

        g.competitor {
            circle {
                fill: white;
            }

            text {
                fill: $blue;
                font-weight: bold;

                &.player-name {
                    font-size: 18px;
                }
                &.score {
                    font-size: 48px;   
                }
            }
        }

        circle {
            &.background {
                fill: #b2bcc4;
            }
        }
    }

    &.area-container {

        .axis {
            path {
                display: none;
            }

            text {
                fill: white;
                font-family: $sans-serif;
                font-size: 18px;
            }
        }

        .grid .tick {
            stroke: #ddd;
            opacity: 0.6 !important;
        }

        .grid path {
            stroke-width: 1;
        }

        path {

            fill: url(#area-gradient);
            // stroke: $blue;
            // stroke-width: 2px;
        }
    }
}