
extends ../layouts/top-logos

block append content
    | playing the game

    .balloon.viz-holder
        #balloon-viz
    
    .stopwatch.viz-holder
        #stopwatch-viz

    .area.viz-holder
        #area-viz

