extends ../layout

block content

    .outer-container
        .inner-container.blue.gradient
            .stats-container
                .stats-logo
                .my-stats
                    | My Stats
                    img(src="/images/underline.png")

                .steps
                    .gameicon.run
                    #balloon-viz
                
                .speed
                    .gameicon.speed
                    #heatmap-viz
                    #heatmap-score
                        | #{myScore}
                    img(src="/images/runners.png")

                .run-together
                    | #CignaRunTogether

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script.
        window.game = !{JSON.stringify(game)};
        window.player = "#{position}";
        window.highScore = #{highScore};

    script(src='/javascripts/pages/stats.js')
