// @mixin mixin() {

// }

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@mixin translateY($x) {
  position: relative;
  // top: 50%;
  -webkit-transform: translateY($x);
  -ms-transform: translateY($x);
  transform: translateY($x);
}
