
extends ../layouts/top-logos

block append content
    
    .bubble-container.first
    .bubble-container.second
    .bubble-container.third

    .leaderboard-header
        | LEADERBOARD

    .podium-container
        img(src="/images/trophy.png").trophy
        .podium
            img(src="/images/podium.png")
            .first-place.score
            .second-place.score
            .third-place.score
            .first-place.name
            .second-place.name
            .third-place.name
                

    