
extends ../layouts/full-splash


block body
    .inner-container
        .full-gradient.light-blue
        .full-gradient.medium-blue
        .full-gradient.dark-blue
        .big.centered.vertical-center.way-to-go
            h1
                | WAY TO GO!

