
extends ../layouts/top-logos

block append content

    .center-container
        .big-list
            ol
                li
                    | Stand at the center 
                    .icon.shoes
                    |  of the platform
                li
                    | You'll have 
                    .icon.clock 
                    |  seconds
                li
                    | At 
                    .icon.go
                    |  start stepping as quickly as possible
                li
                    | Tap 
                    .icon.boost
                    |  to double your steps for 3 seconds
                li
                    | Check your place on the leaderboard 
                    .icon.leaderboard


    +gradient-footer

