
extends ../layouts/top-logos

block append content

    .center-container
        .big-list
            ol
                li
                    | Stand at the center of the platform
                li
                    | You'll have 20 seconds
                li
                    | At go start stepping as quickly as possible
                li
                    | Tap boost to double your steps for 3 seconds
                li
                    | Check your place on the leaderboard


    +gradient-footer